<main id="main">
  <section class="post">

      <header class="major">
          <h1>{{title}}</h1>
      </header>

      {{#if feature_image}}
      <div class="image main"><img src="{{img_url feature_image}}" alt="{{title}}" /></div>
      {{/if}}

      <div class="content">
          {{content}}
      </div>

  </section>

  {{!-- Posts --}}
  <section class="posts">

      {{#foreach posts}}
      <article>
          <header>
              <span class="date">{{date format="MMM D, YYYY"}}</span>
              <h2><a href="{{url}}">{{title}}</a></h2>
          </header>
          {{#if feature_image}}
          <a href="{{url}}" class="image fit"><img src="{{img_url feature_image}}" alt="{{title}}" /></a>
          {{/if}}
          <p>{{excerpt words="33"}}</p>
          <ul class="actions special">
              <li><a href="{{url}}" class="button">Full Story</a></li>
          </ul>
      </article>
      {{/foreach}}

  </section>
</main>
